/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff; /* Substitua pela cor desejada */
}

body {
  color: rgb(0, 0, 0); /* Cor do texto */
  background-color: var(--background-color); /* Cor de fundo principal */
}
